<a href="https://colab.research.google.com/github/25jhm/Exercise_2025/blob/main/128Dictionary(values)_129Dictionary(items).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#Unite 128 예제
names={'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}
vals=names.values()
print(vals)

vals_list=list(vals)
ret=sum(vals_list)
print('출생아 수 총계:%d'%ret)

dict_values([10999, 2111, 9778, 20245, 27115, 5887, 7855])
출생아 수 총계:83990

In [21]:
#Unite 129 예제
names={'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}
items=names.items()
print(items)

for item in items:
  print(item)

dict_items([('Mary', 10999), ('Sams', 2111), ('Aimy', 9778), ('Tom', 20245), ('Michale', 27115), ('Bob', 5887), ('Kelly', 7855)])
('Mary', 10999)
('Sams', 2111)
('Aimy', 9778)
('Tom', 20245)
('Michale', 27115)
('Bob', 5887)
('Kelly', 7855)