<a href="https://colab.research.google.com/github/25jhm/Exercise_2025/blob/main/130Dictionary(in)_131Dictionary(storted).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Unite 130 예제
names={'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}
k=input('이름으로 입력하세요:')
if k in names:
  print('이름이<%s>인 출생아 수는 <%d>명 입니다.'%(k,names[k]))
else:
  print('자료에 <%s>인 이름이 존재 하지 않습니다.'%k)

이름으로 입력하세요:Michale
이름이<Michale>인 출생아 수는 <27115>명 입니다.

In [3]:
#Unite 131 예제
names={'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245,'Michale':27115,'Bob':5887,'Kelly':7855}
ret1=sorted(names)
print(ret1)

def f1(x):
  return x[0]

def f2(x):
  return x[1]

ret2=sorted(names.items(),key=f1)
print(ret2)

ret3=sorted(names.items(),key=f2)
print(ret3)

ret4=sorted(names.items(),key=f2,reverse=True)
print(ret4)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]
[('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Mary', 10999), ('Tom', 20245), ('Michale', 27115)]
[('Michale', 27115), ('Tom', 20245), ('Mary', 10999), ('Aimy', 9778), ('Kelly', 7855), ('Bob', 5887), ('Sams', 2111)]